<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91174116269-62cs9mlu1ekns1fmtt0gp7hnm80fpm4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91174116269-62cs9mlu1ekns1fmtt0gp7hnm80fpm4n</string>
	<key>API_KEY</key>
	<string>AIzaSyABHdXHevoulwv1tIBzEBJGg5dl1Pjk7eA</string>
	<key>GCM_SENDER_ID</key>
	<string>91174116269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ericgrant.MyTikTok</string>
	<key>PROJECT_ID</key>
	<string>mytiktok-66972</string>
	<key>STORAGE_BUCKET</key>
	<string>mytiktok-66972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91174116269:ios:19fc7b6faf32a3ef2f9f24</string>
</dict>
</plist>